<ion-header>
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Forgot Password ?</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="forgotPasswordForms" (ngSubmit)="doSubmit()">
      <ion-item-group>
        <ion-item lines="full">
          <ion-input placeholder="Email" formControlName="email"></ion-input>
        </ion-item>

        <!--        <ion-item>-->

        <!--        </ion-item>-->

      </ion-item-group>
        <ion-button size="" expand="block" type="submit" [disabled]="!forgotPasswordForms.valid"> Submit </ion-button>
      </form>
      <ion-item lines="none" >
        <ion-label (click)="navgatetoLogin()">Log in</ion-label>
        <ion-label class="ion-text-end" (click)="navgatetoRegister()">Register</ion-label>
      </ion-item>

    </ion-card-content>

  </ion-card>

</ion-content>
